.light-bg {
    background: #e5e5e5;
}
.light-bg.light-text {
    background: #aaa;
}
.dark-bg {
    background: #222426;
}
.dark-bg.dark-text {
    background: #444;
}
.dark-bg.light-text .home, .dark-bg.light-text .main-return, .dark-bg.light-text .options, .dark-bg.light-text .title {
    color: rgba(255, 255, 255, 0.3);
}
.dark-bg.light-text .wunder path {
    fill: rgba(255, 255, 255, 0.3);
}
.dark-bg.light-text .home:hover, .dark-bg.light-text .main-return:hover, .dark-bg.light-text .options:hover {
    color: #fff;
}
.dark-bg.light-text .wunder:hover path {
    fill: #fff;
}
.blue-bg {
    background: #84c0d7;
}
.red-bg {
    background: #903d3d;
}
.orange-bg {
    background: #d2ab59;
}
.green-bg {
    background: #6fb269;
}
.purple-bg {
    background: #6c5287;
}
.aqua-bg {
    background: #3193a5;
}
.mint-bg {
    background: #5cbf94;
}

#unsplash-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background: url(http://randomsplash.jshawl.com/) no-repeat center;
    background-size: cover;
}

.unsplash #unsplash-cover{
    -webkit-animation:fade-in 1s; /* Safari and Chrome */
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in /* Safari and Chrome */
{
to{ opacity: .5 }
}
